<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Glamour Fashion HTML Template">
    <meta name="keywords" content="glamour, fashion, html">
    <title>@ViewBag.Title - Beautifuls</title>
    @Styles.Render("~/Content/glamour_css")
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="sp-line"></div>

    <!-- Header section -->
    <header class="header-section">
        <div class="container">
            <ul class="main-menu-left site-menu-style">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About the Brand", "About", "Home")</li>
            </ul>
            <a href="/" class="site-logo">
                <img src="~/Content/glamour_img/logo.png" alt="">
            </a>
            <ul class="main-menu-right site-menu-style">
                <li>@Html.ActionLink("Login", "Login", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
        <div class="search-switch">
            <img src="~/Content/glamour_img/search-icon.png" alt="">
        </div>
    </header>
    <!-- Header section end -->

    @RenderBody()

    <!-- Newslatter section -->
    <section class="newsletter-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-white">
                    <h3>Our Newsletter</h3>
                </div>
                <div class="col-lg-9">
                    <form class="newsletter-form">
                        <input type="text" placeholder="Your E-mail">
                        <button class="site-btn sb-white">subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Newslatter section end -->
    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-7 order-md-1 order-2">
                    <img src="~/Content/glamour_img/logo-dark.png" alt="" class="footer-logo">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 order-md-2 order-1">
                    <ul class="footer-contact-list">
                        <li><span>Address:</span>Main Str, no 23, New York</li>
                        <li><span>Phone:</span>+546 990221 123</li>
                        <li><span>Mail:</span>model@contact.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    <!-- Search model -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    @Scripts.Render("~/Bundles/glamour_js")
    @RenderSection("scripts", required: false)
</body>
</html>
